<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BUDAKOĞLU SİPARİŞ YÖNETİMİ</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style type="text/css">
      #tirt{
        display: none
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <% if (siparis) { -%>

          <div class="col-md-8">
            <h2 class="text-center">SİPARİŞ TALEBİ : <%= siparis.snumber %></h2>
            <%- siparis.icerik %>
          </div>
          <div class="col-md-2">
            
          </div>
        <% } else { -%>
          
        <% } -%>
      </div>
    </div>
  </body>
</html>